
html, body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-image: url("/Users/admin/Downloads/dali.jpeg");
    background-size: cover;
    /* background-position: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vw;
    
}

#frame{
    display: flex;
    background-image: url("/Users/admin/Downloads/ramka.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

#board{
    display: flex;
    background: black;
    width: 400px;
    height: 408px;
    flex-direction: column;
    border-radius: 10%;
}

#result{
    /* display: flex; */
    font-size: 90px;
    color: white;
}
